.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 882/623;
  width: 85vw;
  max-width: 882px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: 1024px) {
    width: 70vw;
  }
}

.overlay {
  background: var(--modal_overlay);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.icon_close {
  cursor: pointer;
  position: absolute;
  top: -37px;
  right: -20px;
  width: 24px;
  height: 24px;
  display: inline-block;

  @media (min-width: 768px) {
  }
  @media (min-width: 1024px) {
    top: -25px;
    right: -75px;
  }
}

.icon_close::before,
.icon_close::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 2px;
  background-color: #fff;
  transform-origin: center;
  transition: transform 0.3s ease;
}

.icon_close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.icon_close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.icon_close:hover::before,
.icon_close:focus::before {
  transform: translate(-50%, -50%) rotate(135deg);
}

.icon_close:hover::after,
.icon_close:focus::after {
  transform: translate(-50%, -50%) rotate(-135deg);
}
