.hero {
  width: 100%;
}

@property --x1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 81.67%;
}
@property --y1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%;
}
@property --x2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 36.06%;
}
@property --y2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 67.27%;
}
@property --x3 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%;
}
@property --y3 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 1.2%;
}
@property --x4 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 4.67%;
}
@property --y4 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 98.91%;
}
@property --x5 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 100%;
}
@property --y5 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 29.26%;
}
@property --x6 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 54.97%;
}
@property --y6 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%;
}
@property --x7 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 41.93%;
}
@property --y7 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 94.9%;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: var(--container);
  height: calc(100vh - 70px);
  min-height: 560px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 32px 24px 85px;
  align-items: center;
  gap: 16px;
  border-radius: 24px;
  background-color: #efebff;

  --x1: 81.67%;
  --y1: 0%;
  --x2: 36.06%;
  --y2: 67.27%;
  --x3: 0%;
  --y3: 1.2%;
  --x4: 4.67%;
  --y4: 98.91%;
  --x5: 100%;
  --y5: 29.26%;
  --x6: 54.97%;
  --y6: 0%;
  --x7: 41.93%;
  --y7: 94.9%;

  background-image: radial-gradient(
      at var(--x1) var(--y1),
      hsla(267, 76%, 84%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(
      at var(--x2) var(--y2),
      hsla(180, 100%, 87%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(
      at var(--x3) var(--y3),
      hsla(277, 100%, 78%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(
      at var(--x4) var(--y4),
      hsla(236, 90%, 80%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(
      at var(--x5) var(--y5),
      hsla(222, 89%, 70%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(
      at var(--x6) var(--y6),
      hsla(277, 97%, 87%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(
      at var(--x7) var(--y7),
      hsla(194, 99%, 73%, 1) 0px,
      transparent 50%
    );

  will-change: background-image;
  animation: gradient-animation 15s ease-in-out infinite;
  transition: --x1 0.3s, --y1 0.3s, --x2 0.3s, --y2 0.3s, --x3 0.3s, --y3 0.3s,
    --x4 0.3s, --y4 0.3s, --x5 0.3s, --y5 0.3s, --x6 0.3s, --y6 0.3s, --x7 0.3s,
    --y7 0.3s;
}

@keyframes gradient-animation {
  0% {
    --x1: 81.67%;
    --y1: 0%;
    --x2: 36.06%;
    --y2: 67.27%;
    --x3: 0%;
    --y3: 1.2%;
    --x4: 4.67%;
    --y4: 98.91%;
    --x5: 100%;
    --y5: 29.26%;
    --x6: 54.97%;
    --y6: 0%;
    --x7: 41.93%;
    --y7: 94.9%;
  }
  25% {
    --x1: 50%;
    --y1: 25%;
    --x2: 75%;
    --y2: 50%;
    --x3: 25%;
    --y3: 10%;
    --x4: 30%;
    --y4: 75%;
    --x5: 80%;
    --y5: 15%;
    --x6: 60%;
    --y6: 20%;
    --x7: 20%;
    --y7: 80%;
  }
  50% {
    --x1: 20%;
    --y1: 50%;
    --x2: 80%;
    --y2: 20%;
    --x3: 50%;
    --y3: 80%;
    --x4: 90%;
    --y4: 10%;
    --x5: 30%;
    --y5: 70%;
    --x6: 10%;
    --y6: 90%;
    --x7: 70%;
    --y7: 30%;
  }
  75% {
    --x1: 50%;
    --y1: 75%;
    --x2: 25%;
    --y2: 40%;
    --x3: 75%;
    --y3: 60%;
    --x4: 60%;
    --y4: 25%;
    --x5: 40%;
    --y5: 85%;
    --x6: 80%;
    --y6: 50%;
    --x7: 30%;
    --y7: 10%;
  }
  100% {
    --x1: 81.67%;
    --y1: 0%;
    --x2: 36.06%;
    --y2: 67.27%;
    --x3: 0%;
    --y3: 1.2%;
    --x4: 4.67%;
    --y4: 98.91%;
    --x5: 100%;
    --y5: 29.26%;
    --x6: 54.97%;
    --y6: 0%;
    --x7: 41.93%;
    --y7: 94.9%;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 60px 80px;
  }
}
@media (min-width: 1024px) {
  .container {
    border-radius: 40px;
    padding: 120px 80px;
  }
}
@media (min-width: 1368px) {
  .container {
    padding: 156px 116px;
  }
}
@media (min-width: 1408px) {
  .container {
    max-width: var(--desktop);
  }
}

.hero_header {
  color: var(--main_text_color);
  font-size: var(--fs_xlarge);
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  @media (min-width: 460px) {
    max-width: 400px;
    text-align: center;
  }

  @media (min-width: 768px) {
    max-width: 550px;
    font-size: 42px;
  }

  @media (min-width: 1024px) {
    max-width: 900px;

    font-size: var(--fs_mxlarge);
  }

  @media (min-width: 1368px) {
    font-size: var(--fs_xxlarge);
  }
}

.hero_text {
  font-size: 12px;
  line-height: 150%;
  font-weight: 400;
  margin-bottom: 24px;

  @media (min-width: 460px) {
    max-width: 380px;
    text-align: center;
  }

  @media (min-width: 768px) {
    max-width: 500px;
  }

  @media (min-width: 1024px) {
    max-width: 800px;
    font-size: var(--fs_small);
    margin-bottom: 30px;
  }

  @media (min-width: 1368px) {
    margin-bottom: 40px;
    font-size: var(--fs_xsmall);
  }
}

.input_wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  max-width: 350px;

  @media (min-width: 768px) {
    max-width: 584px;
    & button {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
    }
  }
}

.search_icon {
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 2;
  @media (min-width: 1024px) {
    top: 16px;
    left: 16px;
  }
}

.input {
  z-index: 1;
  width: 100%;
  border: none;
  outline: none;
  padding: 13px 13px 13px 48px;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(30px);
  color: var(--main_text_color);
  font-size: var(--fs_small);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  box-shadow: var(--box_shadow);

  @media (min-width: 768px) {
    padding: 13px 180px 13px 48px;
  }

  @media (min-width: 1024px) {
    padding: 16px 180px 16px 56px;
    font-size: var(--fs_xsmall);
  }
}

.input::placeholder {
  font-size: var(--fs_small);
  color: #666;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  @media (min-width: 1024px) {
    font-size: var(--fs_xsmall);
  }
}

.input:focus,
.input:hover {
  outline: none;
}

.info_container {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 66px 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 28px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(30px);

  @media (min-width: 768px) {
    flex-direction: row;
    gap: 12px;
  }
  @media (min-width: 1024px) {
    padding: 81px 24px 24px;
    gap: 24px;
  }
}

.cert_image {
  width: 128px;
  height: auto;
  aspect-ratio: 128/90;
  background-color: var(--back_color);
  background-image: url('../../img/certificate_preview.webp');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 18px;
  overflow: hidden;
  margin-bottom: 4px;

  @media (min-width: 768px) {
    width: 160px;
  }

  @media (min-width: 1024px) {
    width: 181px;
  }
}

.info_wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media (min-width: 1024px) {
    padding: 9px 0;
    gap: 12px;
  }
}

.name {
  font-size: var(--fs_small);
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  & span {
    font-size: var(--fs_small);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.thread,
.period,
.status {
  font-size: var(--fs_small);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  & span {
    font-size: var(--fs_small);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    white-space: nowrap;
  }
}

.period {
  & span {
    display: inline-block;
    margin-top: 4px;
  }
}

.status_valid {
  padding: 4px 12px;
  gap: 10px;
  border-radius: 100px;
  background: rgba(0, 185, 25, 0.1);
  color: #00b919;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.status_discontinued {
  padding: 4px 12px;
  gap: 10px;
  border-radius: 100px;
  background: rgba(213, 153, 0, 0.1);
  color: #d59900;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.status_cancelled {
  padding: 4px 12px;
  gap: 10px;
  border-radius: 100px;
  background: rgba(213, 1, 1, 0.1);
  color: #d50101;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
