.section {
  width: 100%;
}

.section_load {
  opacity: 0;
}

.section_load_false {
  display: none;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: var(--container);
  padding: 24px 16px;
  border-radius: 24px;
  background-color: var(--foreground);
  @media (min-width: 768px) {
    padding: 20px;
  }

  @media (min-width: 1024px) {
    border-radius: 40px;
    padding: 30px 24px 44px;
  }

  @media (min-width: 1368px) {
    padding: 40px 84px 64px;
  }

  @media (min-width: 1408px) {
    max-width: var(--desktop);
  }
}

.link_wrap {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 24px;

  &:hover,
  &:focus {
    & .link_text {
      color: var(--primary_color);
    }
    & .back_icon {
      transform: scale(1.15);
      fill: var(--primary_color);
    }
  }
}

.link_text {
  font-size: var(--fs_xsmall);
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  transition: color 0.3s ease;
}

.back_icon {
  transition: fill 0.3s ease, transform 0.3s ease;
}

.certificate_text {
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 16px;
  @media (min-width: 768px) {
    font-size: 26px;
    margin-bottom: 24px;
  }

  @media (min-width: 1024px) {
    margin-bottom: 32px;
    font-size: var(--fs_xlarge);
  }
}

.first_page {
  width: 100%;
  height: auto;
  aspect-ratio: 882/623;
  max-width: 882px;
  margin-bottom: 16px;
  cursor: pointer;

  @media (min-width: 768px) {
    margin-bottom: 24px;
  }
  @media (min-width: 1024px) {
    margin-bottom: 32px;
  }
}

.button_text {
  margin-top: 8px;
  margin-bottom: 32px;
  font-size: var(--fs_small);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  @media (min-width: 768px) {
    margin-top: 10px;
    margin-bottom: 40px;
  }
  @media (min-width: 1024px) {
    margin-top: 12px;
    margin-bottom: 48px;
  }
}

.supplement_head_text {
  margin-bottom: 16px;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  @media (min-width: 768px) {
    font-size: var(--fs_large);
    margin-bottom: 24px;
  }
  @media (min-width: 1024px) {
    font-size: var(--fs_xlarge);
    margin-bottom: 32px;
  }
}

.certificate_block_wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
  @media (min-width: 768px) {
    gap: 32px;
  }
  @media (min-width: 1024px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.second_page,
.third_page,
.fourth_page,
.fifth_page,
.sixth_page,
.certificate_block_video {
  width: 100%;
  height: auto;
  aspect-ratio: 882/623;
  max-width: 842px;
  border-radius: 12px;
  overflow: hidden;
  @media (min-width: 768px) {
    border-radius: 16px;
  }
  @media (min-width: 1420px) {
    max-width: 584px;
  }
}

.certificate_block_video {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.case_link_wrap {
  background-color: var(--background);
  background-image: url('../../img/back.webp');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 4%;
  left: 7%;
  padding: 5px 10px;
  width: 86%;
  height: 11%;
  @media (min-width: 1420px) {
    bottom: 16px;
    left: 40px;
    padding: 5px 10px;
  }
}

.case_link_wrap_standard {
  background-image: url('../../img/back_standard.webp');
  top: 8%;
  left: 5%;
  width: 86%;
  height: 17%;
  @media (min-width: 450px) {
    left: 6%;
  }
  @media (min-width: 768px) {
    left: 7%;
  }
  @media (min-width: 1024px) {
    left: 6.5%;
  }
  & .notion_link {
    margin-bottom: 10px;
    font-size: 4px;
    @media (min-width: 360px) {
      font-size: 5px;
    }
    @media (min-width: 400px) {
      font-size: 6px;
      margin-bottom: 14px;
    }
    @media (min-width: 500px) {
      font-size: 8px;
      margin-bottom: 20px;
    }
    @media (min-width: 600px) {
      font-size: 10px;
    }
    @media (min-width: 768px) {
      margin-bottom: 30px;
      font-size: 12px;
    }
    @media (min-width: 1024px) {
      margin-bottom: 40px;
      font-size: 14px;
    }
    @media (min-width: 1420px) {
      margin-bottom: 26px;
      font-size: 12px;
    }
  }

  & .case_link {
    display: inline-block;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 47ch;
    margin-bottom: -1px;
    @media (min-width: 400px) {
      margin-bottom: -2px;
    }
    @media (min-width: 768px) {
      padding-left: 4px;
      margin-bottom: -4px;
    }
    @media (min-width: 1420px) {
      margin-bottom: -2px;
      font-size: 9.713px;
    }
  }

  & .average_grade {
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 5px;
    @media (min-width: 360px) {
      font-size: 6px;
    }
    @media (min-width: 500px) {
      font-size: 8px;
    }
    @media (min-width: 600px) {
      font-size: 10px;
    }
    @media (min-width: 768px) {
      font-size: 12px;
    }
    @media (min-width: 1024px) {
      font-size: 16px;
    }
    @media (min-width: 1420px) {
      font-size: 12px;
    }

    & span {
      font-weight: 600;
      @media (min-width: 768px) {
        padding-left: 4px;
      }
    }
  }
}

.notion_link {
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 2px;
  white-space: nowrap;
  font-size: 4px;
  @media (min-width: 400px) {
    font-size: 5px;
  }
  @media (min-width: 500px) {
    font-size: 6px;
  }
  @media (min-width: 600px) {
    font-size: 8px;
  }
  @media (min-width: 768px) {
    margin-bottom: 6px;
    font-size: 10px;
  }
  @media (min-width: 1024px) {
    margin-bottom: 8px;
    font-size: 14px;
  }
  @media (min-width: 1420px) {
    font-size: 9.713px;
  }
}

.case_link {
  display: inline-block;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 52ch;
  margin-bottom: -1px;
  @media (min-width: 768px) {
    padding-left: 4px;
    margin-bottom: -4px;
  }
  @media (min-width: 1420px) {
    margin-bottom: -2px;
    font-size: 9.713px;
  }
}
.average_grade {
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 4px;
  @media (min-width: 400px) {
    font-size: 6px;
  }
  @media (min-width: 500px) {
    font-size: 7px;
  }
  @media (min-width: 600px) {
    font-size: 9px;
  }
  @media (min-width: 768px) {
    font-size: 12px;
  }
  @media (min-width: 1024px) {
    font-size: 14px;
  }
  @media (min-width: 1420px) {
    font-size: 12px;
  }

  & span {
    font-weight: 600;
    @media (min-width: 768px) {
      padding-left: 4px;
    }
  }
}

.video_main_wrap {
  position: absolute;
  top: 15%;
  left: 8%;
  width: 59%;
  height: auto;
  aspect-ratio: 340 / 190;
  @media (min-width: 1420px) {
    width: 340px;
  }
}

.video_wrap {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
  background: #d9d9d9;
  @media (min-width: 1024px) {
  }
}

.video {
  width: 100%;
  height: 100%;
  border: none;
}

.video_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 14%;
  height: auto;
  aspect-ratio: 1 / 1;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 50%;
  transition: border 0.3s ease;

  & svg {
    transition: transform 0.3s ease;
  }

  @media (min-width: 1420px) {
    width: 15%;
  }

  &:hover,
  &:focus {
    border: 1px solid var(--main_color);
    & svg {
      transform: scale(0.9);
    }
  }
}

.video_box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.video_icon_show {
  opacity: 0;
  width: 0;
  height: 0;
}

.dots_loading {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #666;
  border-radius: 50%;
  animation: blink 1.5s infinite;
}

.dot:nth-child(2) {
  animation-delay: 0.3s;
}

.dot:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes blink {
  0%,
  80%,
  100% {
    opacity: 0.2;
  }
  40% {
    opacity: 1;
  }
}
