.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;

  @media (min-width: 460px) {
    padding: 14px 62px;
  }

  @media (min-width: 768px) {
    padding: 16px 82px;
  }

  @media (min-width: 1024px) {
    padding: 16px 42px;
  }
  @media (min-width: 1200px) {
    padding: 16px 62px;
  }

  @media (min-width: 1368px) {
    padding: 16px 82px;
    max-width: var(--desktop);
    margin: 0 auto;
  }
}

.header_social {
  @media (min-width: 1024px) {
    display: flex;
    gap: 12px;
    align-items: center;
  }
  @media (min-width: 1270px) {
    gap: 32px;
  }
}

.logo_wrap {
  display: flex;
  gap: 8px;
  align-items: center;
}

.logo {
  width: 40px;
  height: 33px;
  @media (min-width: 1200px) {
    width: 59px;
    height: 48px;
  }
}

.logo_text {
  color: var(--main_text_color);
  font-size: var(--fs_small);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  @media (min-width: 1024px) {
    font-size: 16px;
  }
  @media (min-width: 1200px) {
    font-size: 20px;
  }
}

.social {
  display: none;
  @media (min-width: 1024px) {
    display: flex;
    gap: 12px;
    align-items: center;
    & svg {
      transition: fill 0.3s ease-in-out;

      &:hover,
      &:focus {
        fill: var(--main_text_color);
      }
    }
  }
  @media (min-width: 1270px) {
    gap: 24px;
  }
}

.nav_wrap {
  display: none;
  @media (min-width: 1024px) {
    display: flex;
    gap: 12px;
    align-items: center;
  }
  @media (min-width: 1270px) {
    gap: 24px;
  }
}

.links {
  display: flex;
  gap: 12px;
  align-items: center;
  @media (min-width: 1270px) {
    gap: 24px;
  }
}

.link {
  font-size: var(--fs_xsmall);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  transition: color 0.3s ease-in-out;

  &:hover,
  &:focus {
    color: var(--primary_color);
  }
}

.burger_wrap {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;

  @media (min-width: 1024px) {
    display: none;
  }

  &:hover,
  &:focus {
    & .line {
      background-color: var(--primary_color);
    }
  }
}

.line {
  display: block;
  width: 18px;
  height: 2px;
  background-color: var(--main_text_color);
  border-radius: 1px;
  position: absolute;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

.line:nth-child(1) {
  top: 7px;
}

.line:nth-child(2) {
  top: 14px;
  left: 7px;
  width: 11px;
}

.line:nth-child(3) {
  top: 21px;
}

.burger_open .line {
  background-color: var(--background);
}

.burger_open .line:nth-child(1) {
  transform: rotate(45deg);
  width: 20px;
  top: 15px;
}

.burger_open .line:nth-child(2) {
  opacity: 0;
}

.burger_open .line:nth-child(3) {
  width: 20px;
  transform: rotate(-45deg);
  top: 15px;
}

.burger_wrap.burger_open {
  z-index: 2000;
}
